<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>project</title>
    <link rel="stylesheet" href="/public/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/assets/css/Features-Image-images.css">
    <link rel="stylesheet" href="/public/assets/css/Login-Form-Basic-icons.css">
    <link rel="stylesheet" href="/public/assets/css/styles.css">
</head>

<body>
    <header></header>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top border rounded-0 clean-navbar" style="background: var(--bs-white);">
        <div class="container"><a class="navbar-brand logo" href="#" style="margin-left: 1%;"><strong>C</strong></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
            </div>
        </div>
    </nav>
    <div style="margin-top: 100px;">
        <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
            <div class="text-center" id="div-bg">
                <p class="fw-bold text-success mb-2"></p>
                <h1 class="fw-bold">Thank You For Shopping With Us!</h1>
                <p class="fw-bold text-success mb-2">We appreciate your business and hope you enjoy your purchase.</p>
                <div class="row">
                    <div class="col"><a class="btn btn-primary" role="button" id="btn-home" style="margin-top: 30px;" href="/">Back to Homepage</a></div>
                </div>
            </div>
        </div>
    </div>
    <script src="/public/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/public/assets/js/checkout.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/public/assets/js/product.js"></script>
    <script src="/public/assets/js/scripts.js"></script>
    <script src="/public/assets/js/tableoperations.js"></script>
</body>

</html>