<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>project</title>
    <link rel="stylesheet" href="/public/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/assets/css/Features-Image-images.css">
    <link rel="stylesheet" href="/public/assets/css/Login-Form-Basic-icons.css">
    <link rel="stylesheet" href="/public/assets/css/styles.css">
</head>

<body>
    <header></header>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top border rounded-0 clean-navbar" style="background: var(--bs-white);">
        <div class="container"><a class="navbar-brand logo" href="#" style="margin-left: 1%;"><strong>C</strong></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section>
        <div class="container" id="sales-container">
            <div class="work-experience group">
                <h2 class="text-center">Quarterly Sales</h2>
                <div class="heading">
                    <h2 class="text-start"></h2>
                </div>
                <div class="item">
                    <div>
                        <div class="table-responsive text-center" style="margin-top: 20px;">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Quarter</th>
                                        <th>Sales</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Quarter 1</td>
                                        <td><%=prod[0].@a%></td>
                                    </tr>
                                    <tr>
                                        <td>Quarter 2</td>
                                        <td><%=prod[0].@b%></td>
                                    </tr>
                                    <tr>
                                        <td>Quarter 3</td>
                                        <td><%=prod[0].@c%></td>
                                    </tr>
                                    <tr>
                                        <td>Quarter 4</td>
                                        <td><%=prod[0].@d%></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/public/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/public/assets/js/checkout.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/public/assets/js/product.js"></script>
    <script src="/public/assets/js/reports.js"></script>
    <script src="/public/assets/js/scripts.js"></script>
    <script src="/public/assets/js/tableoperations.js"></script>
</body>

</html>